<div class="owl-carousel">
	<% count = 0 %>
	<%@dayArray.each do |day| %>
		<!-- crete a link based on the count-->
		<%= link_to weather_path(count), :remote => true do %>
			<div class="col-md-2 panel" id="<%= count %>">
					<span class='date'>Date: <%= day['day'] %> <%= day['date']%> <%= day['month']%> </span>
					<span class='main'>Weather: <%= day['main']%> </span>
			</div>
			<% count += 1%>
		<% end %>
	<% end %>

</div>

<div id="info">
	Temp Day:<div id="tempDay"></div></br>
	Temp Min:<div id="tempMin"></div></br>
</div>
