<script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>

<div class="header">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<%= form_tag 'weather' do %>
				<%= label_tag(:form_label,'Enter City',class: 'label') %>
				<%= text_field_tag(:city_input,nil,placeholder: '  Enter a city') %>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-5"></div>
		<div class="col-md-2">
				<%= button_tag('Search', id: 'form_submit', class: 'button') %>
			<% end %>
		</div>
		<div class="col-md-5"></div>
	</div>
</div>