<%= render "shared/search" %>
<div class="alertArea">
	<% if flash[:notice] %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
	<script>$(".notice").animate({opacity: 0}, 2000	);</script>
	<% end %>
</div>
<% if @dayArray.present? %>
	<%= render "shared/results" %>
<% end %>

