.header{
	margin-top: 20px;
}

.row{
	margin-top: 20px;
}

.button{
	width:100%;
	height:40px;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.875em;
  border-radius: 25px;
  border-color: black;
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
}

.button:hover{
	background: linear-gradient(to bottom,  #89c3eb 0%,#d5ebfb 50%,#d5ebfb 51%,#89c3eb 100%);
}

.label{
  width:150px;
  height:40px;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.875em;
  color: black;
  text-align: center;
}
#info{
	background: red;
	position: absolute;
	width:226px;
	height:200px;
	border-color: #000000;
	border-style: solid;
	border-radius: 15px;
	margin-left: 2px;
	margin-right: 2px;
	display: none;
}

.panel{
	float:left;
	padding: 2%;
	margin-top: 200px;
	margin-left:7%;
	width:230px;
	height:200px;
	border-color: #000000;
	border-style: solid;
	border-radius: 15px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aebcbf+0,6e7774+70,0a0e0a+89,0a0809+100 */
	background: #aebcbf; /* Old browsers */
	background: -moz-linear-gradient(top,  #aebcbf 0%, #6e7774 70%, #0a0e0a 89%, #0a0809 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #aebcbf 0%,#6e7774 70%,#0a0e0a 89%,#0a0809 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #aebcbf 0%,#6e7774 70%,#0a0e0a 89%,#0a0809 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.date, .humidity, .main, .description{
	float:left;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.5em;
	margin-bottom: 10px;
	width:100%;
}

a,a:hover{
	color: white;
}
/* CSS For the Flash notice */
.notice {
	margin-top: 10px;
  background-color: #eaeaea;
  font-size: 35px;
  text-align: center;
  height:50px;
}


